<!-- <app-centro
  [centro]="{ nombre: 'Centro 1', descripcion: 'Primer Centro.' }"
></app-centro> -->

<div class="content columns">
  <!-- Primera columna - Solicitud -->
  <div class="is-half box">
    <h1>Solicitud del comedor</h1>
    <h2>Nueva solicitud</h2>

    <!-- Mensajes de validación -->
    <p *ngIf="!validarFormulario()" class="help is-danger">
      Todos los campos son obligatorios.
    </p>
    <p *ngIf="validarFormulario()" class="help is-success">
      ¡Todo listo!, ya puedes pulsar en «Enviar».
    </p>

    <div class="field">
      <label class="label">Fecha de la solicitud</label>
      {{ solicitud.fecha | date: 'dd/MM/yyyy' }}
    </div>

    <div class="field">
      <label class="label">Nombre</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Introduce tu nombre aquí"
          (keyup)="nombre($event)"
        />
      </div>
      <p class="help">Los nombres comienzan con letra mayúscula.</p>
    </div>

    <div class="field">
      <label class="label">Apellidos</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Introduce tus apellidos aquí"
          (keyup)="apellidos($event)"
        />
      </div>
      <p class="help">Los apellidos también comienzan con letra mayúscula.</p>
    </div>

    <app-selector-centro
      (selected)="solicitud.centro = $event.nombre"
    ></app-selector-centro>

    <app-datos-bancarios></app-datos-bancarios>

    <div class="buttons mt-3 mb-0">
      <button class="button is-primary" (click)="enviar()">Enviar</button>
    </div>
  </div>

  <!-- Segunda columna (espacio de separación) -->
  <div class="column"></div>

  <!-- Tercera columna - Listado -->
  <div class="is-half box">
    Listado de Solicitudes
    <app-lista-solicitudes [solicitudes]="solicitudes$" (deleted)="borrarSolicitud($event)"></app-lista-solicitudes>
  </div>
</div>
