<!-- {{ solicitud.nombre }}

<p
  [ngStyle]="{
    color: +solicitud.nombre > 0.5 ? 'red' : 'blue',
    'font-weight': +solicitud.nombre > 0.5 ? 'bold' : 'normal'
  }"
>
  solicitud works!
</p>
-->

<div class="content columns">
  <!-- Primera columna - Solicitud -->
  <div class="is-half box">
    <h1>Solicitud del comedor</h1>
    <h2>Nueva solicitud</h2>

    <!-- Mensajes de validación -->
    <p *ngIf="!validarNombreYApellidos()" class="help is-danger">
      El nombre y los apellidos son obligatorios.
    </p>
    <p *ngIf="validarNombreYApellidos()" class="help is-success">
      ¡Todo listo!, ya puedes pulsar en «Enviar».
    </p>

    <div class="field">
      <label class="label">Nombre</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Introduce tu nombre aquí"
          (keyup)="nombre($event)"
        />
      </div>
      <p class="help">Los nombres comienzan con letra mayúscula.</p>
    </div>

    <div class="field">
      <label class="label">Apellidos</label>
      <div class="control">
        <input
          class="input"
          type="text"
          placeholder="Introduce tus apellidos aquí"
          (keyup)="apellidos($event)"
        />
      </div>
      <p class="help">Los apellidos también comienzan con letra mayúscula.</p>
    </div>

    <div class="buttons">
      <button class="button is-primary" (click)="enviar()">Enviar</button>
    </div>

    <div>{{ solicitud.nombre }} {{ solicitud.apellidos }}</div>
  </div>

  <!-- Segunda columna (espacio de separación) -->
  <div class="column"></div>

  <!-- Tercera columna - Listado -->
  <div class="is-half box">
    Listado de Solicitudes
    <table>
      <tr *ngFor="let solicitud of solicitudes; let i = index">
        <td>
          <strong>#{{ i }}</strong>
        </td>
        <td>
          {{ solicitud.nombre }}
        </td>
        <td>
          {{ solicitud.apellidos }}
        </td>
      </tr>
    </table>
  </div>
</div>
